:root
{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #1854b4;;
    transition: all 0.3s ease;
    cursor: pointer;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Kumbh Sans', sans-serif;
scroll-behavior: smooth;
}
.body_container {
    border: none;
    background: #F8FEFF;
    margin: 0px 70px;
}
.navbar {
background: #E5E4E2;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
overflow:hidden;
top: 0;
z-index: 999;
position: relative;
}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 50px;

}
#navbar__logo {
color: black;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size:16;
/*<!-- flex-direction: column;
 color: #fff;
background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
transition: 0.3s ease-in; -->*/
}
.navbar__menu{
display: flex;
align-items: center;
list-style: none;
}
.account{
display:flex;
}
.account .navbar__btn{
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
height: 70px;
}

.navbar__item{
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
height: 70px;
}
.navbar__links{
color: BLACK;
display: flex;
align-items: center;
justify-content:center;
width: 125px;
text-decoration: none;
transition: all 0.3s ease;
height:30px;
}
.navbar__btn {
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
cursor: pointer;
}

.button {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 4px;
background: #833ab4;
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
color: #fff;
transition: all 0.3s ease;
}
.navbar__links:hover{
color: #9516fc;
transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
.navbar__container{
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
padding: 0;
 }
.navbar__menu{
display: grid;
grid-template-columns: auto;
margin: 0;
width: 100%;
position: absolute;
top: -1000px;
opacity: 1;
transition: all 0.5s ease;
z-index: -1;
}
.navbar__menu.active{
background: #969696;
top: 23%;
opacity: 1;
transition: all 0.5s ease;
z-index: 99;
height: 80hv;
font-size: 1.6rem;
}

#navbar__logo{
padding-left: 25px;
}
.navbar__toggle .bar{
width: 25px;
height:3px;
margin: 5px auto;
transition: all 0.3s ease-in-out;
background: black;
}
.navbar__item {
width: 100%;
}
.navbar__links {
text-align: center;
padding: 2rem;
width: 100%;
display: table;
}

.navbar__btn{
padding-bottom: 2rem;
}
.button{
display: flex;
justify-content: center;
align-items: center;
width: 80%;
height: 80px;
margin: 0;
}
#mobile-menu{
position: absolute;
top: 0%;
left: 5%;
transform: translate(5%, 20%);
}
.navbar__toggle .bar {
display: block;
cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
 opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
 transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
 transform: translateY(-8px) rotate(-45deg);
}
.login ~.navbar__container{
display:none;
}
.cont .container .con{
display: grid;
}
}
/* popup login*/
.popup{
position: absolute;
top: -150%;
left:50%;
opacity: 0;
transform: translate(-50%,-50%)scale(1.25);
width: 380px;
padding:20px 30px;
z-index:10;
background: #fff;
box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius:10px;
transition:top 0ms ease-in-out 200ms,
           opacity 200ms ease-in-out 0ms,
           transform 200ms ease-in-out 0ms;
}
.popup.active {
top:60%;
opacity:1;
transform: translate(-50%,-50% )scale(1);
transition:top 0ms ease-in-out 0ms,
           opacity 200ms ease-in-out 0ms,
           transform 20ms ease-in-out 0ms;

}

.popup .close-btn{
position:absolute;
top:10px;
right:10px;
width: 15px;
height:15px;
background: #888;
color:#eee;
text-align: center;
line-height:15px;
border-radius:15px;
cursor:pointer;
}
.popup .form h2{
text-align:center;
color: #222;
margin:10px 0px 20px;
font-size: 25px;
}
.popup .form .form-element{
margin: 15px 0px;
}
.popup .form .form-element label {
font-size:14px;
color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
margin-top:5px;
display:block;
width: 100%;
padding: 10px;
outline:none;
border:1px solid #aaa;
border-radius:5px;
}
.popup .form .form-element input[type="checkbox"]{
margin-right:5px;
}
.popup .form .form-element button{
width:100%;
height:40px;
border:none;
outline:none;
font-size:16px;
background:#222;
color:#f5f5f5;
background:#222;
border-radius:16px;
cursor:pointer;
}
.popup .form .form-element .SubmitLogin{
width:100%;
height:40px;
border:none;
outline:none;
font-size:16px;
background:#222;
color:#f5f5f5;
background:#222;
border-radius:16px;
cursor:pointer;
}
.popup .form .form-element a{
display:block;
text-align: right;
font-size: 15px;
color: #1a79ca;
text-decoration: none;
font-weight: 600;
}
#overlay{
position:fixed;
opacity:0;
top:0;
left: 0;
right: 0;
bottom:0;
background: rgba(0,0,0,.5);
pointer-events:none;
}
#overlay.active{
opacity:1;
pointer-events:all;
}
/* end login popup*/

/* signup */
/*.signup_container{
top:50%;
left:50%;

transform: translate(-50%,-50%)scale(1);
width: 360px;
padding:20px 30px;
background: black;
position: absolute;
box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius:10px;
transition:top 0ms ease-in-out 0ms,
           opacity 200ms ease-in-out 0ms,
           transform 20ms ease-in-out 0ms;
}
.signup_container .form h2{
text-align:center;
color: #222;
margin:10px 0px 20px;
font-size: 25px;
}
.signup_container .form{
width: 280px;
position:absolute;
top:100px;
left:40px;
}
.signup_container .form .form-element{
margin: 15px 0px;
}
.signup_container .form .form-element label {
font-size:14px;
color: #222;
}
.signup_container .form .form-element input[type="text"],
.signup_container .form .form-element input[type="password"]{
margin-top:5px;
display:block;
width: 100%;
padding: 10px;
outline:none;
border:1px solid #aaa;
border-radius:5px;
}
.signup_container .form .form-element button{
width:100%;
height:40px;
border:none;
outline:none;
font-size:16px;
background:#222;
color:#f5f5f5;
background:#222;
border-radius:16px;
cursor:point;
}*/

/*{
margin: 0;
padding: 0;
outline: none;
font-family: 'Poppins',sans-serif;
}
body{
display: flex;
align-items: center;
justify-content: center;
min-height:100vh;
background: black;
}*/

/* choose */
.choose{
position: absolute;
top: -150%;
left:50%;
opacity: 0;
transform: translate(-50%,-50%)scale(1.25);
width: 380px;
padding:20px 30px;
z-index:10;
background: #fff;
box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius:10px;
transition:top 0ms ease-in-out 200ms,
           opacity 200ms ease-in-out 0ms,
           transform 200ms ease-in-out 0ms;
}
.choose.active {
top:60%;
opacity:1;
transform: translate(-50%,-50% )scale(1);
transition:top 0ms ease-in-out 0ms,
           opacity 200ms ease-in-out 0ms,
           transform 20ms ease-in-out 0ms;

}

.choose .close-btn{
position:absolute;
top:10px;
right:10px;
width: 15px;
height:15px;
background: #888;
color:#eee;
text-align: center;
line-height:15px;
border-radius:15px;
cursor:pointer;
}
.choose .form h2{
text-align:center;
color: #222;
margin:10px 0px 20px;
font-size: 25px;
}
.choose .form .form-element{
margin: 15px 0px;
}
/* signup */
.container{
position: absolute;'
top:60%;
left:50%;
display:none;
transform: translate(-50%,-50%)scale(1.25);
width: 380px;
padding:20px 30px;
z-index:10;
background: #fff;
box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
border-radius:10px;
transition:top 0ms ease-in-out 200ms,
           opacity 200ms ease-in-out 0ms,
           transform 200ms ease-in-out 0ms;
}
.container.active{
display:unset;
top:60%;
opacity:1;
transform: translate(-50%,-50% )scale(1);
transition:top 0ms ease-in-out 0ms,
           opacity 200ms ease-in-out 0ms,
           transform 20ms ease-in-out 0ms;
}
.container .close-signup-btn{
position:absolute;
top:10px;
right:10px;
width: 15px;
height:15px;
background: #888;
color:#eee;
text-align: center;
line-height:15px;
border-radius:15px;
cursor:pointer;
}
.container header{
text-align:center;
color: #222;
margin:5px 0px 10px;
font-size: 25px;
}
.container .form-outer{
width:100%;
overflow: hidden;
}
.form-outer form{
display:flex;
width:400%;
}
.form-outer form .page{
width:25%;
transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
/* text-align:left;
font-size:25px;
font-weight:500px; */

text-align:center;
color: #222;
margin:10px 0px 20px;
font-size: 25px;
}
.form-outer form .page .field.btns{
display:flex;
}
.form-outer form .page .field{
margin: 15px 0px;
}
]
.form-outer form .page .field .label{
top: -30px;
position:absolute;
font-size:14px;
color: #222; */

display:block;
text-align: right;
font-size: 15px;
color: #1a79ca;
text-decoration: none;
font-weight: 600;
}
.form-outer form .page .field input{
/* height: 100%; */
width:100%;
/*font-size: 18px;
padding-left: 15px;*/

margin-top:5px;
display:block;
padding: 10px;
outline:none;
border:1px solid #aaa;
border-radius:5px;
}
form .page .field select{
width:100%;
/*font-size: 18px;
padding-left: 15px;*/

margin-top:5px;
display:block;
padding: 10px;
outline:none;
border:1px solid #aaa;
border-radius:5px;
}
.form-outer form .page .field button{
width:100%;
/*height:calc(100% + 5px); */
margin-top: -20px;
border:none;
border-radius:5px;
/*letter-spacing: 1px; */
text-transform: uppercase;
/* transition: 0.3s ease; */
height:40px;
border:none;
outline:none;
font-size:16px;
background:#222;
color:#f5f5f5;
background:#222;
border-radius:16px;
cursor:point;
}
.form-outer form .page .field .Submit{
width:100%;
/*height:calc(100% + 5px); */
margin-top: -10px;
border:none;
border-radius:5px;
/*letter-spacing: 1px; */
text-transform: uppercase;
/* transition: 0.3s ease; */
height:40px;
border:none;
outline:none;
font-size:16px;
background:#222;
color:#f5f5f5;
background:#222;
border-radius:16px;
cursor:point;
}
.form-outer form .page .field button:hover{
background: #000;
}
.form-outer form .page .btns button{
margin-top: -10px!important;
}
form .page .btns button.prev{
margin-right:3px;
font-size:17px;
}
form .page .btns button .next{
margin-left:3px;
}
.container .progress-bar{
display:flex;
margin:20px 0px;
}
.container .progress-bar .step{
text-align:center;
position:relative;
width:100%;
}
.progress-bar .step p{
font-size:14px;
color: #222;
margin-button: 2px;
transition:0.2s;
}
.progress-bar .step p.active{
color:#d43f8d;
}
.progress-bar .step .bullet{
position:relative;
height:25px;
width:20px;
border: 2px solid #000;
display: inline-block;
border-radius:50px;
transition: 0.2s;
/* font-weight:500;
font-size: 17px;
line-height: 25px; */
}
.progress-bar .step .bullet.active{
border-color: #d43f8d;
background: #d43f8d;
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
display:none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
position: absolute;
content: '';
bottom: 11px;
right: -51px;
height: 3px;
width: 44px;
background: #262626;
}
.progress-bar .step .bullet.active:after{
background: #d43f8d;
transform: scaleX(0);
transform-origin: left;
animation: animate 0.3s linear forwards;
}
@keyframes animate{
100%{
transform: scaleX(1);
}

}
.progress-bar .step .bullet span{
font-size:14px;
color: #222;
line-height: 20px;
position:absolute;
left:50%;
transform: translateX(-50%)
}
.progress-bar .step bullet.active span{
display:none;
}
.progress-bar .step .check{
position: absolute;
left: 50%;
top: 70%;
font-size:15px;
transform: translate(-50%, -50%);
display:none;
}
.progress-bar .step .check.active{
display:block;
color: #fff;
}
.Submit{
background:000;
}
/* end of signup */



/* footer*/
.footer_container{
width:100%;
background: #3D3635;
padding-bottom: 0px;
display:flex;
}
footer{
padding: 2rem;
display: flex;
color: white;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;
}
footer_heading{
display:block;
margin-right:4rem;
}
/* body
video section.*/
.bodi{
background:#fff;
}
.videos{
padding-top: 2rem;
}
.videos-container{
display:flex;
}
.video{
background: fff;
width: 23%;
display: block;
align-content: center;
text-align:center;
margin-right:2px;
}
hr{
background:red;
}
.video iframe{
padding:1rem;
width:100%;
}
.video img:hover{
cursor:pointer;
width:99%;
}
.video button{
background: #833ab4;
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
border: none;
border-radius: 3px;
color: white;
margin-bottom: 2rem;
}
/* learning material section*/
.learning-material{
margin-top: 3rem;
}

/* display flash categries */
.error
{
border: 1px solid;
margin: 10px ;
padding: 15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
max-width: 460px;
color: #D8000C;
background-color: #FFBABA;
background-image: url('https://i.imgur.com/GnyDvKN.png');
border-radius: 5px;
}
.success
{
border: 1px solid;
margin: 10px ;
padding: 15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
max-width: 460px;
color: #D8000C;
background-color: #FFBABA;
background-image: url('https://i.imgur.com/GnyDvKN.png');
border-radius: 5px;
color: #4F8A10;
background-color: #DFF2BF;
background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning
{
border: 1px solid;
margin: 10px ;
padding: 15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
max-width: 460px;
color: #D8000C;
color: #9F6000;
background-color: #FEEFB3;
background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

/* footer */
.contain
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section
{
     background: var(--bg-black-900);
     display: block;
     padding: 0 30px;
     opacity: 1;
     }
.main-content
{
    padding-left: 270px;
}
/* aside */
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.contain
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .contain
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
/* contact */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 20%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    font-size: 25px;
    color: var(--skin-color);
}
,contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5pxl
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: a;; 0.33 ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

.container1
{
padding: 50px;
}
.head{
text-align: center;
padding: 5px;
color: blue;
}
.container1 .con{
width: 100%;
margin: auto;
padding: 15px;
display: flex;
text-align: center;
background-color: #E5E4E2;
}
.container1 .from_db{
width: 100%;
height: 50px;
margin: auto;
padding: 15px;
display: flex;
text-align: center;
background-color: #cecdcb;
}
.container1 .con .content{
height:100%;
width:100%;
}
.container1 .from_db .content{
height:100%;
width:100%;
}
.container1 .container_lesson
{
border-radius: 5px;
background-color: #BFC9CA;
padding: 20px;
}
.container1 form .top_lesson
{
display: inline-block;
margin-right: 20px;
width:100%;
}
.container1 form .top_lesson .labels
{
width: 100%;
margin: auto;
display: flex;
background-color: #fff;
border: ridge;
border-width: 1px;
}
.container1 form .top_lesson .labels .form_label
{
height:100%;
width:100%;
border: ridge;
border-width: 2px;
}
.container1 form .top_lesson .input
{
margin: auto;
display: flex;
}
.container1 form .top_lesson .input .form_input
{
height:100%;
width:100%;
}
.container1 form .top_lesson .inquiry{
margin-top: 7px;
display: flex;
width:100%;
}
.container1 form .con .inquiry .inquiry_input{
display: inline-block;
width: 100%;
}
.container1 form .con .inquiry .inquiry_input textarea
{
height: 150px;
width: 70%;
}
.container1 form .top_lesson .resources-intro
{
margin-top: 20px;
display: flex;
width: 100%;
}
.container1 form .top_lesson .resources-intro div
{
width:100%;
display:flex;
}
.container1 form .top_lesson .resources-intro div textarea
{
height: 120px;
width:100%;
margin: 10px;
}
.container1 form .top_lesson .lesson-dev
{
width: 100%;
}
.container1 form .top_lesson .lesson-dev textarea
{
width:100%;
height: 150px;
}
.container1 form .top_lesson .summary-conclusion
{
margin-top: 20px;
display: flex;
width: 100%;
}
.container1 form .top_lesson .summary-conclusion div
{
width:100%;
display:flex;
}
.container1 form .top_lesson .summary-conclusion div textarea
{
height: 120px;
width:100%;
margin: 10px;
}

.body_container section {
    display: absolute;
    border-style: ridge;
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    margin: 30px;
    text-align: center;
    height: 100vh;
}
section header{
    text-align: center;
    font-size: 24;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
section button{
    width: 100px;
    height: 30px;
    background-color: #63939F;
    border-radius: 5px;
    border: none;
}
.body_container section .section{
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
.slider{
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    display: flex;
}
.slide input{
    display: none;

}

.st{
    width: 20%;
    transition: 2s;
    margin: 10px;
}
.st img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    position: relative;
}
.nav-m{
    margin: 10px;
    justify-content: center;
    display:flex;
}
.m-btn{
    border: 2px solid #23e2c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color:#23e3c2;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 500px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: #23e3c2;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: #23e3c2;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: #23e3c2;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: #23e3c2;
}