{% extends "learner-base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-150 border-radius-xl mt-4"
           style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card  mx-1 mt-n6" style="padding-right: 0%;">
        <div class="row gx-2 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                TITLE: {{ assignment.title }}
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-4 col-xl-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">ASSIGNMENT CONTENT</h6>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <h4 class="text-sm" style="align-content: center;">
                    {{ assignment.assignment_content }}
                  </h4>
                  <hr class="horizontal gray-light my-4">
                     <form method="post" action="/assignment/{{assignment.id}}" class="form-class", enctype="multipart/form-data">
                         <h4> ASSIGNMENT TO BE DONE HERE </h4>
                {{form.csrf_token}}
                <div class="form-container">
                    <div class="side">
                        <div class="form-element mb-3">
                            {{ form.content.label(class = 'form-label')}}<br>
                            {{ form.content(class = 'mb-3')}}
                        </div>
                        <div class="form-element">
                            {{ form.file.label(class = 'form-label')}}<br>
                            {{ form.file }}
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                            {{ form.submit }}
                </div>
            </form>
                </div>
              </div>
            </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
