{% extends "base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">LEVELS</h6>
            </div>
            <div>
              <a class="btn bg-gradient-primary mt-4 w-10"
               target="_blank" type="button" id = "add_teacher">ADD
              </a>
            </div>
            <form method="post" action="/school/add" class="form-teacher" style="display: none;">
            <div class="close-btn btn bg-gradient-secondary mt-4 w-10" id="close-teacher">CLOSE</div>
                {{ form.hidden_tag() }}
                <div class="form-container">
                    <span></span>
                        <div class="form-element">
                            {{ form.name.label}}
                            {% if form.name.errors %}
                            {{ form.name}}
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                            {% else %}
                            {{ form.name(class="label")}}
                            {% endif %}
                        </div>
                </div>
                <div class="form-submit">
                            {{ form.submit }}
                </div>
            </form>
            <script>
                document.querySelector('#add_teacher').addEventListener('click', function(){
                document.querySelector(".form-teacher").style.display = "block";
                });
                document.querySelector('#close-teacher').addEventListener('click', function(){
                document.querySelector(".form-teacher").style.display = "none";
                });
              </script>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">LEVEL</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">COURSES</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">STUDENTS</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                {% if classes %}
                {% for clas in classes %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ clas.Name }}</h6>
                        </div>
                      </div>
                    </td>
                    <td style="margin-bottom:2rem;">
                        {% if clas.classes %}
                        {% for i in clas.classes %}
                           <p class="text-xs font-weight-bold mb-3">
                             {{ i.className }}
                          </p>
                        {% endfor %}
                        {% else %}
                          <p class="text-xs font-weight-bold mb-3">
                             Not yet
                          </p>
                        {% endif %}

                    </td>
                    <td class="align-middle text-center text-sm">
                      {% if clas.students %}
                        {% for j in clas.students %}
                           <p class="text-xs font-weight-bold mb-0">{{ j.first_name }}</p>
                          </p>
                        {% endfor %}
                        {% else %}
                          <p class="text-xs font-weight-bold mb-0">no student added yet</p>
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
