{% extends "base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">TEACHERS</h6>
            </div>
            <div>
              <a class="btn bg-gradient-primary mt-4 w-10"
               target="_blank" type="button" id = "add_teacher">ADD
              </a>
            </div>
          </div>
          <form method="post" action="/school/teachers" class="form-teacher" style="display: none;">
            <a class="btn bg-gradient-secondary mt-4 w-10"
               target="_blank" type="button" id="close-teacher" class="close-btn">CLOSE
              </a>
                {{teacher_form.hidden_tag()}}
                <div class="form-container">
                    <div class="side">
                        <div class="form-element">
                            {{ teacher_form.Fname.label(class = 'form-label')}}<br>
                            {{ teacher_form.Fname }}
                        </div>
                        <div class="form-element">
                            {{ teacher_form.Sname.label(class = 'form-label')}}<br>
                            {{ teacher_form.Sname }}
                        </div>
                        <div class="form-element">{{ no_of_classes }}
                            {{ teacher_form.email.label(class = 'form-label')}}<br>
                            {{ teacher_form.email }}
                        </div>
                    </div>
                    <div class="side">
                        <div class="form-element">
                            {{ teacher_form.Phone_Number.label(class = 'form-label')}}<br>
                            {{ teacher_form.Phone_Number }}
                        </div>
                        <div class="form-element">
                            {{ teacher_form.Password.label(class = 'form-label')}}<br>
                            {{ teacher_form.Password }}
                        </div>
                        <div class="form-element">
                            {{ teacher_form.Confirm_Password.label(class = 'form-label')}}<br>
                            {{ teacher_form.Confirm_Password }}
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                           <a class="btn bg-gradient-secondary ">{{ teacher_form.submit }}</a>
                </div>
            </form>
          <script>
                document.querySelector('#add_teacher').addEventListener('click', function(){
                document.querySelector(".form-teacher").style.display = "block";
                });
                document.querySelector('#close-teacher').addEventListener('click', function(){
                document.querySelector(".form-teacher").style.display = "none";
                });
              </script>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teacher's Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Course</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Levels</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                {% if teachers %}
                {% for teacher in teachers %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ teacher.first_name }} {{ teacher.last_name }}</h6>
                          <p class="text-xs text-secondary mb-0"> {{ teacher.email }} </p>
                        </div>
                      </div>
                    </td>
                    <td style="margin-bottom:2rem;">
                        {% if teacher.classes %}
                        {% for clas in teacher.classes %}
                           <p class="text-xs font-weight-bold mb-3">
                             {{ clas.className }}
                          </p>
                        {% endfor %}
                        {% endif %}

                    </td>
                    <td class="align-middle text-center text-sm">
                      {% if teacher.classes %}
                        {% for clas in teacher.classes %}
                           <p class="text-xs font-weight-bold mb-0">{{ clas.my_level }}</p>
                          </p>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ teacher.phone_number }}</span>
                    </td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
