{% extends "teachers-base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">STUDENTS</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">LEARNER</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">LEVEL</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">COURSE</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">REGISTRATION NUMBER</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                    {% if learner %}
                  {% for student in learner %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ student.first_name }} {{ student.last_name }}</h6>
                          <p class="text-xs text-secondary mb-0"> {{ student.email }} </p>
                        </div>
                      </div>
                    </td>
                    <td style="margin-bottom:2rem;">
                           <p class="text-xs font-weight-bold mb-3">
                             {{ student.my_level }}
                          </p>
                    </td>
                    <td class="align-middle text-center text-sm">
                           <p class="text-xs font-weight-bold mb-0">{{ student.my_course }}</p>
                          </p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ student.reg_no }}</span>
                    </td>
                    <td class="align-middle">
                      <a href="{{ url_for('profile',user_id = student.id)}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
