<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    adding student form -->
    <form method="post" class="add" action="\add">
        {{ formadd.hidden_tag() }}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>ADD STUDENT</h2>
            <div class="form-element">
                {{ formadd.email.label(class="label") }}
                {{ formadd.email(class="label") }}
                {% if formadd.email.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.email.errors %}
                            <p style="padding-left: 40px;color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formadd.grade.label(class="label") }}
                {% if formadd.grade.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.grade.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.grade(class="label") }}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formadd.first_name.label(class="label") }}
                {% if formadd.first_name.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.first_name(class="label") }}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formadd.second_name.label(class="label") }}
                {% if formadd.second_name.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.second_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.second_name(class="label") }}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formadd.submit(class = "SubmitLogin") }}
            </div>
        </div>
    </form>
    <div id="overlay"></div>

</body>
</html>