{% extends 'teachers_pannel.html' %}
{% block classDetails %}



<div style="display: none"> {% block home %} {% endblock %}</div>
<div class="container1 padd-15" id="students" >
        <h1 class="head">Students</h1>
        <a class="btn " id = "add" style="float: right; margin: 10px;" >ADD STUDENT</a>
        <div class="con my_students">
            <div class="content"><h4>First Name</h4></div>
            <div class="content"><h4>Second Name</h4></div>
            <div class="content"><h4>CODE</h4></div>
            <div class="content"><h4>Progress</h4></div>
            <div class="content"><h4></h4></div>
        </div>
        {% if classes  %}
        {% for i in classes %}
        <div href="#" class="from_db" >
            <div class="content"> {{ i.className }}</div>
            <div class="content">{{ i.className }}</div>
            <div class="content">{{ i.Teacher }}</div>
            <div class="content" ><p>{{ i.className }}%</p></div>
            <div class="content"> <a href="{{ url_for('learner', studentId = i.id) }}" > MORE </a> </div>
            </div>
            {% block remove%}
            {% endblock %}
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='app.js')}}"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}