<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width = device-width, initial-scale=1.0">
    <title>cbc master.com</title>
    <link rel="stylesheet" type="text/css" href="static/app.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">CBC MASTER</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                {% block nav %}
                <li class="navbar__item">
                    <a href="#home" class="navbar__links" id="home-page">Home</a>
                </li>
                {% block about %}
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">About</a>
                </li>
                {% endblock %}
                <li class="navbar__item">
                    <a href="#Services" class="navbar__links" id="service-page">Service</a>
                </li>
                {% endblock %}
            </ul>
            {% block authenticate %}
            <ul class="account">
                <li class="navbar__btn">
                    <a href="#sign-In" class="button" id="login">Login</a>
                </li>
                <li class="navbar__btn">
                    <a href="#sign-up " class="button" id="signup">Signup</a>
                </li>
            </ul>
            {% endblock %}
        </div>
    </nav>
    {% block student %}
    {% endblock %}
    <!-- login page -->
    <form action="/login" method="post" class="popup">
        {{form2.hidden_tag()}}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Log in</h2>
            <div class="form-element">
                {{ form2.username.label(class="label")}}
                {% if form2.username.errors %}
                    {{ form2.username(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form2.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form2.username(class="label")}}
                <span></span>
                {% endif %}
<!--                <label for="email">Email</label>-->
<!--                <input type="text" id="email" placeholder="Enter email">-->
            </div>
            <div class="form-element">
                {{ form2.password.label(class="label")}}
<!--                {{ form2.password(class="label")}}-->
                {% if form2.password.errors %}
                    {{ form2.password(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form2.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form2.password(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {% if form2.remember.errors %}
                    {{ form2.remember(class = "form-element")}}
                        <div class="invalid_feedback">
                            {% for error in form2.remember.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form2.remember}}
                {{ form2.remember.label(class = "form-element")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ form2.submit(class = "SubmitLogin")}}
            </div>
            <div class="form-element">
                <a href="#">Forgot Password</a>
            </div>
        </div>
    </form>
    <div id="overlay"></div>

    <!--============ CHOOSE LOGIN OPTION================-->


    <form  class="choose">
        <div class="close-btn">&times;</div>
        <div class="form" style="text-align:center;">
            <h2>SIGNUP US?</h2>
            <div class="form-element">
                <a class="btn" id = "teacher"> TEACHER </a>
            </div>
            <div class="form-element">
                <a class="btn" id= "learner"> LEARNER </a>
            </div>
        </div>
    </form>
    <!--============ TEACHER ACCOUNT CREATION FORM================-->
    <div class="container">
        <div class="close-signup-btn">&times;</div>
    <header >CREATE ACCOUNT FORM</header>
    <div class="progress-bar">
        <div class="step">
            <p>Basic info</p>
            <div class="bullet">
                <span>1</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>
        <div class="step">
            <p>Contact</p>
            <div class="bullet">
                <span>2</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>
        <div class="step">
            <p>Date</p>
            <div class="bullet">
                <span>3</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>
        <div class="step">
            <p>Submit</p>
            <div class="bullet">
                <span>4</span>
            </div>
            <div class="check fas fa-check"></div>
        </div>
    </div>
    <div class="form-outer">
    <form action="/signup" method="post" id="my_form" class="form">
        {{form.hidden_tag()}}
        <div class="page slidepage">
            <div class="title">Basic info:</div>
            <div class="field">
                {{ form.first_name.label(class="label")}}
                {% if form.first_name.errors %}
                {{ form.first_name(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.first_name(class="label")}}
                <span></span>
                {% endif %}
            </div>

            <div class="field">
                {{ form.last_name.label(class="label")}}
<!--                <div class="label">Last Name</div>-->
<!--                <input type="text" name="last_name" required>-->
                {% if form.last_name.errors %}
                    {{ form.last_name(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.last_name(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="field nextBtn">
                <button type="button">Next</button>
            </div>
        </div>


        <div class="page page2">
            <div class="title">contact info:</div>
            <div class="field">
                {{ form.email.label(class="label")}}

                {% if form.email.errors %}
                    {{ form.email(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(class="label")}}
                <span></span>
                {% endif %}
<!--                <div class="label">Email Adress</div>-->
<!--                <input type="text" name="email" required>-->

            </div>
            <div class="field">
                {{ form.phone_number.label(class="label")}}
<!--                {{ form.phone_number(class="label")}}-->
                {% if form.phone_number.errors %}
                    {{ form.phone_number(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.phone_number(class="label")}}
                <span></span>
                {% endif %}
<!--                <div class="label">Phone Number</div>-->
<!--                <input type="number" name="phone_number" required>-->
            </div>
            <div class="field btns">
                <button class="prev-1 prev" type="button">Previous</button>
                <button class="next-1 next" type="button">Next</button>
            </div>
        </div>

        <div class="page page3">
            <div class="title">Date of Birth:</div>
            <div class="field">
                {{ form.user_name.label(class="label")}}
<!--                {{ form.user_name(class="label")}}-->
                {% if form.user_name.errors %}
                    {{ form.user_name(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.user_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.user_name(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="field">
                {{ form.gender.label(class="label")}}
                {% if form.gender.errors %}
                    {{ form.gender(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.gender.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.gender(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="field btns">
                <button class="prev-2 prev" type="button">Previous</button>
                <button class="next-2 next" type="button">Next</button>
            </div>
        </div>

        <div class="page page4">
            <div class="title">Login Details:</div>

            <div class="field">
                {{ form.password.label(class="label")}}
<!--                {{ form.password(class="label")}}-->
                {% if form.password.errors %}
                    {{ form.password(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.password(class="label")}}
                <span></span>
                {% endif %}
<!--                <div class="label">Password</div>-->
<!--                <input type="password" name="password" class="password" required minlength="6" maxlength="120">-->
            </div>
            <div class="field">
                {{ form.confirm_password.label(class="label")}}
<!--                {{ form.confirm_password(class="label")}}-->
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.confirm_password(class="label")}}
                <span></span>
                {% endif %}
<!--                <div class="label">Confirm Password</div>-->
<!--                <input type="password" name="confirm_password" class="confirm_password" required minlength="6" maxlength="120">-->
            </div>
            <div class="field btns">
                <button class="prev-3 prev">Previous</button>
                {{ form.submit(class = "Submit")}}
<!--                <button class="Submit" type="submit">Submit-->
<!--                </button>-->
            </div>
        </div>
    </form>
    </div>
</div>

     <!--============ STUDENT ACCOUNT CREATION FORM================-->
    <form action="/signup" method="post" class="learner">
        {{formsignup.hidden_tag()}}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>STUDENT LOGIN</h2>
            <div class="form-element">
                {{ formsignup.first_name.label(class="label")}}
                {% if formsignup.first_name.errors %}
                    {{ formsignup.first_name(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.first_name(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.last_name.label(class="label")}}
                {% if formsignup.last_name.errors %}
                    {{ formsignup.last_name(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.last_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.last_name(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.email.label(class="label")}}
                {% if formsignup.email.errors %}
                    {{ formsignup.email(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.email(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.grade.label(class="label")}}
                {% if formsignup.grade.errors %}
                    {{ formsignup.grade(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.grade.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.grade(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.username.label(class="label")}}
                {% if formsignup.username.errors %}
                    {{ formsignup.username(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.username(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.password.label(class="label")}}
                {% if formsignup.password.errors %}
                    {{ formsignup.password(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.password(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.confirm_password.label(class="label")}}
                {% if formsignup.confirm_password.errors %}
                    {{ formsignup.confirm_password(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formsignup.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formsignup.confirm_password(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formsignup.submit(class = "SubmitLogin")}}
            </div>
            <div class="form-element">
                <a href="#">Already have an account. Login</a>
            </div>
        </div>
    </form>
     <!-- body -->
    <div class="bodi">
        <!-- videos -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="{{ category  }}" >
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3 class="videos">VIDEOS</h3>
        <hr>
        <div class="videos-container">
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/9VZL81prrRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p>Grade 1 Kiswahili</p>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/nIpF3GozIJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p >Grade 1 English</p>
            </div>
            <div class="video">
                <iframe  src="https://www.youtube.com/embed/LqTbbQPInMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p >Grade 1 vowel reading</p>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/GhZH_1sIVvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p >Grade 1 Guided writing</p>
            </div><div class="video">
                <iframe src="https://www.youtube.com/embed/Smjk12HBZUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p >Grade 1 Environmental Activities</p>
            </div>
            </div><div class="video">
                <iframe src="https://www.youtube.com/embed/Z757THlXLA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p >Grade 5 Multiply Math</p>
            </div>
        </div>
        <hr>
        <!-- learning-material -->
        <div class="learning-material">

        </div>
        <h3 >LEARNING MATERIALS</h3>
        <hr>
        <div class="learning_materials">
            <div class="materials-container">
                <div class="materials">

                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="contact section" >
            <div class="contain">
                <h3 class="contact-title padd-15"> <a href="#">About Us</a></h3>
                <h3 class="contact-sub-title padd-15"> EMAIL US?</h3>
                <!--=== Contact Form===-->
                <div class="row">
                    <div class="contact-form padd-15">
                        <div class="row">
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <textarea name="" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <button type="submit" class="btn">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Call Me On</h4>
                        <p>+254 713028200</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <h4>Office</h4>
                        <p>Nyahururu</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>harmonymwithilii@gmail.com</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <h4>Call Me On</h4>
                        <p>harmonymwirigi</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"> <i class="fa-brands fa-twitter"></i></div>
                        <h4>Twitter</h4>
                        <p>harmonymwirigi</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                </div>
            </div>
        </footer>
    <script src="{{url_for('static', filename='app.js')}}">
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>