{% extends 'landing.html' %}
{% block nav %}
{% block about %}
<li class="navbar__item">
    <a href="#about" class="navbar__links" id="about-page">STUDENTS</a>
</li>
{% endblock %}
{% endblock %}
{% block authenticate %}
{% endblock %}
{% block student %}
<div class="container1" id="assignment">
            <h1 class="head">ASSIGNMENTS</h1>
            <a class="btn " id = "assign" style="float: right; margin: 10px;" >ASSIGN</a>
            <div class="con">
                <div class="content">
                    <p>Grade 1</p>
                </div>
                <div class="content">
                    <p>Topic</p>
                </div>
                <div class="content">
                    <p>Students name</p>
                </div>
                <div class="content">
                    <p>Grade</p>
                </div>
            </div>
        </div>
{% endblock %}