<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width = device-width, initial-scale=1.0">
    <title>teachers</title>
    <link rel="stylesheet" type="text/css" href="static/app.css">
    <link rel="stylesheet" type="text/css" href="static/teachers_pannel.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a57c871a6e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">CBC MASTER</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="#home" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">PROGRESS</a>
                </li>
                <li class="navbar__item">
                    <a href="#Services" class="navbar__links" id="service-page">STUDENTS</a>
                </li>
            </ul>
            <ul class="account">
                <li class="navbar__btn">
                    <i class='fas fa-user-minus button' style='font-size:48px;' id="login"></i>
<!--                    <a href="#sign-up " class="button" id="login" >-</a>-->
                    <p>REMOVE LEARNER</p>
                </li>
                <li class="navbar__btn">
                    <i class='fas fa-user-plus button' style='font-size:48px;' id="add"></i>
                    <p>ADD<BR>LEARNER</p>
                </li>
            </ul>
        </div>
        <button class="logout_button" >
            <a href="/logout">LOGOUT</a>
        </button>

    </nav>
    <!-- login page -->
    <form action="/remove" class="popup" method="post">
        {{formremove.hidden_tag()}}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>REMOVE STUDENT</h2>
            <div class="form-element">
                {{ formremove.email.label(class="label")}}
                {% if formremove.email.errors %}
                    {{ formremove.email(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formremove.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formremove.email(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formremove.submit(class = "SubmitLogin")}}
            </div>
        </div>
    </form>
    <form method="post" class="add" action="\add">
        {{ formadd.hidden_tag() }}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>ADD STUDENT</h2>
            <div class="form-element">
                {{ formadd.email.label(class="label") }}
                {{ formadd.email(class="label") }}
                {% if formadd.email.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.email.errors %}
                            <p style="padding-left: 40px;color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formadd.grade.label(class="label") }}
                {% if formadd.grade.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.grade.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.grade(class="label") }}
                <span></span>
                {% endif %}
<!--                <label for="email">Grade</label>-->
<!--                <input type="text" id="student_grade" placeholder="enter grade">-->
            </div>
            <div class="form-element">
                {{ formadd.first_name.label(class="label") }}
                {% if formadd.first_name.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.first_name(class="label") }}
                <span></span>
                {% endif %}
<!--                <label for="email">Name</label>-->
<!--                <input type="text" id="student_name" placeholder="enter students name">-->
            </div>
            <div class="form-element">
                {{ formadd.second_name.label(class="label") }}
                {% if formadd.second_name.errors %}
                        <div class="invalid_feedback">
                            {% for error in formadd.second_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formadd.second_name(class="label") }}
                <span></span>
                {% endif %}
<!--                <label for="email">Name</label>-->
<!--                <input type="text" id="student_name" placeholder="enter students name">-->
            </div>
            <div class="form-element">
                {{ formadd.submit(class = "SubmitLogin") }}
            </div>
        </div>
    </form>
    <div id="overlay"></div>
<!--    stiky sidebar-->
    <div class="sidebar">
        <div class="icon assignment">
            <i class='fas fa-book-open' style='font-size:48px; padding-top: 30px; margin-left: 15px;'></i>
        </div>
        <div class="icon project">
            <i class="fa fa-anchor" style="font-size:48px; padding-top: 30px; margin-left: 15px;"></i>
        </div>
        <div class="icon students">
            <i class='fas fa-users fa-5x' style='font-size:48px; padding-top: 30px; margin-left: 15px;'></i>
        </div>
        <div class="icon account">
            <i class='far fa-user-circle' style='font-size:48px;padding-top: 30px; margin-left: 15px;'></i>
        </div>
        <div class="icon help">
            <i class='fa fa-question' style='font-size:48px;padding-top: 30px; margin-left: 15px;'></i>
        </div>
    </div>
     <!-- assignments-->
    <div class="assignment_container">
        <div class="content grade">
            <p>Grade 1</p>
        </div>
        <div class="content topic">
            <p>Topic</p>
        </div>
        <div class="content students_name">
            <p>Students name</p>
        </div>
        <div class="content grade">
            <p>Grade</p>
        </div>

    </div>

    <!-- end of assignments-->
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>