<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width = device-width, initial-scale=1.0">
    <title>{% block title %} teachers {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="static/facebox.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='teachers_pannel.css') }}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a57c871a6e.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/teachers" id="navbar__logo">CBC MASTER</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a  class="navbar__links" id="home-page" onclick="openContainer('home')" href="{{url_for('teachers')}}"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page" onclick="openContainer('assignment')">ASSIGNMENT</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__links" id="service-page" href="{{ url_for('classes') }}">CLASSES</a>
<!--                    <a class="navbar__links" id="service-page" onclick="openContainer('students')">STUDENTS</a>-->
                </li>
            </ul>
        </div>
        {% block side %}
        <button class="logout_button" id = "side">
            <p>{{ current_user.email }}</p>
             <i class='far fa-user-circle' style='font-size:48px; padding: 5px;'></i>
        </button>
        {% endblock %}
        <div class="sidebar" >
            <div class="side_item">
                <a class="item progress" onclick="openContainer('lesson_plan')">LESSON PLAN</a>
                <a class="item setting">SETTING</a>
                <a class="item materials">MATERIALS</a>
                <a href="/logout" class="sign_out">SIGN OUT</a>
            </div>
        </div>
    </nav>
    <!-- removing student form -->
    <form action="/remove" class="popup" method="post">
        {{ formremove.hidden_tag() }}
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>REMOVE STUDENT</h2>
            <div class="form-element">
                {{ formremove.email.label(class="label")}}
                {% if formremove.email.errors %}
                    {{ formremove.email(class="label")}}
                        <div class="invalid_feedback">
                            {% for error in formremove.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ formremove.email(class="label")}}
                <span></span>
                {% endif %}
            </div>
            <div class="form-element">
                {{ formremove.submit(class = "SubmitLogin")}}
            </div>
        </div>
    </form>
<!--    flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="{{ category  }}" >
                        {{ message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% block home %}
    <div class="cont">
        <div class="container1" id = "home" style="padding: 100px;">
            <div class="con" id = "boxes">
                <div class="content" style="height: 60vh;background: #fff;margin: 5px;" >
                    <i class='fas fa-users fa-5x' style='font-size:70px; padding-top: 70px; margin-left: 15px;padding-bottom: 100px;'></i>
                    <h2>{{ learners }} STUDENTS</h2>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block student %}
        {% endblock %}
        {% block classDetails %}
        {% endblock %}
         <!-- assignments-->
        <div class="container1" id="assignment" style="display:none;">
            <h1 class="head">ASSIGNMENTS</h1>
            <a class="btn " id = "assign" style="float: right; margin: 10px;" >ASSIGN</a>
            <div class="con">
                <div class="content">
                    <p>Grade 1</p>
                </div>
                <div class="content">
                    <p>Topic</p>
                </div>
                <div class="content">
                    <p>Students name</p>
                </div>
                <div class="content">
                    <p>Grade</p>
                </div>
            </div>
        </div>
        <div class="container1" id="lesson_plan" style="display:none;item-align: center;margin-bottom: 15px;">
            <h1 class="head">LESSON PLAN</h1>
            <a class="btn" style="float: right; margin: 10px;" onclick="openContainer('create_lesson')">CREATE</a>
            {% if lesson %}
            {% for lessons in lesson %}
            <div class="from_db">
                <div class="content">{{ lessons.id }}</div>
                <div class="content">{{ lessons.grade }}</div>
                <div class="content">{{ lessons.strands }}</div>
                <div class="content">{{ lessons.subStrand }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="container1"  style="display:none;" id="create_lesson">
                <form class="container_lesson" method="post" action="\lessonplan">
                    {{ form_lesson.hidden_tag() }}
                    <div class="con top_lesson">
                        <div class="labels">
                            <label class="form_label" style="border-right-style: none;"><b>GRADE</b></label>
                            <label class="form_label" style="border-right-style: none;"><b>SCHOOL</b></label>
                            <label class="form_label"><b>DATE</b></label>
                        </div>
                        <div class="input">
                             {{ form_lesson.grade(class="form_input") }}
                             {{ form_lesson.school(class="form_input") }}
                        </div>
                        <div style="display:flex;margin-top: 30px;"><h1> STRAND/THEME/TOPIC: </h1>{{ form_lesson.topic }}</div>
                        <div style="margin-top: 30px; display:flex;"><h2>SUBSTRAND/SUB-THEME/SUB-TOPIC:</h2>{{ form_lesson.sub_strand }}</div>
                        <div style="margin-top: 30px; display:flex;"><h3>SPECIFIC LEARNING OUTCOME:</h3>{{ form_lesson.sub_strand }}</div>
                        <h1 style="margin-top: 7px;">KEY INQUIRY QUESTION (S)</h1>
                        <div class="inquiry">
                            <div class="inquiry_input">
                                <h3>Core Competencies</h3>
                                {{ form_lesson.core_competencies }}
                            </div>
                            <div class="inquiry_input">
                                <h3>Values</h3>
                                {{ form_lesson.values }}
                            </div>
                            <div class="inquiry_input">
                                <h3>PCIs</h3>
                                {{ form_lesson.Pcis }}
                            </div>
                        </div>
                        <div class="resources-intro">
                            <div>
                                <h3>LEARNING RESOURCES:</h3>
                                {{ form_lesson.resources }}
                            </div>
                            <div>
                                <h3>INTRODUCTION:</h3>
                                {{ form_lesson.intro }}
                            </div>
                        </div>
                        <div class="lesson-dev">
                            <h3>LESSON DEVELOPMENT (Assessment ass learning)</h3>
                            {{ form_lesson.lesson_dev }}
                        </div>
                        <div class="summary-conclusion">
                            <div>
                                <h3>SUMMARY:</h3>
                                {{ form_lesson.summary }}
                            </div>
                            <div>
                                <h3>CONCLUSION:</h3>
                                {{ form_lesson.conclusion }}
                            </div>
                        </div>

                        {{ form_lesson.submit(class="btn") }}

                    </div>
                </form>
        </div>
        <footer class="contact section" >
            <div class="contain">
                <h3 class="contact-title padd-15"> <a href="#">About Us</a></h3>
                <h3 class="contact-sub-title padd-15"> EMAIL US?</h3>
                <!--=== Contact Form===-->
                <div class="row">
                    <div class="contact-form padd-15">
                        <div class="row">
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <textarea name="" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <button type="submit" class="btn">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Call Me On</h4>
                        <p>+254 713028200</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <h4>Office</h4>
                        <p>Nyahururu</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>harmonymwithilii@gmail.com</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fab fa-facebook-f"></i></div>
                        <h4>Call Me On</h4>
                        <p>harmonymwirigi</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                    <!--=== Contact Info item start ===-->
                    <div class="contact-info-item padd-15">
                        <div class="icon"> <i class="fa-brands fa-twitter"></i></div>
                        <h4>Twitter</h4>
                        <p>harmonymwirigi</p>
                    </div>
                    <!--=== Contact Info item end ===-->
                </div>
            </div>
        </footer>
        </div>
{% block script %}
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="{{url_for('static', filename='facebox.js')}}"></script>
{% endblock %}
</body>
</html>